extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.


        h2 Menu

        ul

          li
            a(href="/jogos")
              | Lista de Jogos

          li
            a(href="/jogos/novo")
              | Cadastrar Jogo

          li
            a(href="/jogos/empresas")
              | Lista de Empresas

          li
            a(href="/jogos/empresas/nova")
              | Cadastrar Empresa

        block content
